@page "/evaluation"
@rendermode InteractiveServer

@using EmotionAnalyzerWeb.Models

@inject EmotionAnalyzerWeb.Services.EmotionApiService Api


<h1>
    Model Evaluation
</h1>


@if (loading)
{
    <p>Loading evaluation...</p>
}
else if (error != null)
{
    <div class="alert alert-danger">
        @error
    </div>
}
else if (result != null)
{

    <div class="card">

        <h3>Overall Metrics</h3>


        <p>
            Micro Accuracy:
            <b>
                @result.MicroAccuracy.ToString("P2")
            </b>
        </p>


        <p>
            Macro Accuracy:
            <b>
                @result.MacroAccuracy.ToString("P2")
            </b>
        </p>


        <p>
            Log Loss:
            <b>
                @result.LogLoss.ToString("F4")
            </b>
        </p>

    </div>



    <div class="card">

        <h3>
            Per Emotion Metrics
        </h3>


        @foreach (var emotion in result.Labels)
        {
            <hr />

            <h4>
                @emotion
            </h4>


            <p>
                Precision:
                @result.Precision[emotion].ToString("P2")
            </p>


            <p>
                Recall:
                @result.Recall[emotion].ToString("P2")
            </p>


            <p>
                F1 Score:
                @result.F1Score[emotion].ToString("P2")
            </p>
        }

    </div>

}



@code {

    private ModelEvaluationResult? result;

    private bool loading = true;

    private string? error;


    protected override async Task OnInitializedAsync()
    {
        try
        {
            result =
                await Api.GetEvaluation();
        }
        catch (Exception ex)
        {
            error = ex.Message;
        }
        finally
        {
            loading = false;
        }
    }

}